@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
  font-family: 'Inter', sans-serif;
  font-size: calc(10px + 0.5vw);
  @apply bg-b1;
}

.font-play {
  font-family: 'Play', sans-serif;
}

body,
html,
#app {
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(90deg, rgba(38, 38, 38, 0.47) 23.61%, rgba(86, 77, 77, 0.3) 85.05%);
}
